<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP_0001</key>
				<true/>
				<key>AddMCHC_0008</key>
				<true/>
				<key>FakeLPC_0020</key>
				<true/>
				<key>FixAirport_4000</key>
				<true/>
				<key>FixDarwin_0002</key>
				<true/>
				<key>FixFirewire_0800</key>
				<true/>
				<key>FixHDA_8000</key>
				<true/>
				<key>FixHPET_0010</key>
				<true/>
				<key>FixIDE_0200</key>
				<true/>
				<key>FixIPIC_0040</key>
				<true/>
				<key>FixLAN_2000</key>
				<true/>
				<key>FixSATA_0400</key>
				<true/>
				<key>FixSBUS_0080</key>
				<true/>
				<key>FixShutdown_0004</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>SaSsdt </string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
		</array>
		<key>HaltEnabler</key>
		<true/>
		<key>PatchAPIC</key>
		<true/>
		<key>ResetAddress</key>
		<string>0xfec00000</string>
		<key>ResetValue</key>
		<string>0x0000</string>
		<key>SSDT</key>
		<dict>
			<key>C3Latency</key>
			<string>0xfa</string>
			<key>DropOem</key>
			<true/>
			<key>EnableC6</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
			<key>PluginType</key>
			<string>1</string>
			<key>UseSystemIO</key>
			<true/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 nvda_drv=1 kext-dev-mode=1</string>
		<key>DefaultVolume</key>
		<string>WinBoot</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Log</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>CPU</key>
	<dict>
		<key>BusSpeedkHz</key>
		<integer>99768</integer>
		<key>C6</key>
		<true/>
		<key>FrequencyMHz</key>
		<integer>3392</integer>
		<key>Latency</key>
		<string>0xfa</string>
		<key>QPI</key>
		<integer>0</integer>
		<key>Type</key>
		<string>0x705</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>Yes</string>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>ATI</key>
			<string>0x0000</string>
			<key>IMEI</key>
			<string>0x8c3a8086</string>
			<key>IntelGFX</key>
			<string>0x0000</string>
			<key>LAN</key>
			<string>0x153b8086</string>
			<key>NVidia</key>
			<string>0x0000</string>
			<key>SATA</key>
			<string>0x8c028086</string>
			<key>WIFI</key>
			<string>0x0000</string>
			<key>XHCI</key>
			<string>0x8c318086</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<true/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Windows</string>
			<string>BOOTX64.EFI</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1600x1200</string>
		<key>Theme</key>
		<string>applestyle</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>DualLink</key>
		<integer>1</integer>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<true/>
		</dict>
		<key>PatchVBios</key>
		<true/>
		<key>ig-platform-id</key>
		<string>0D220003</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>AsusAICPUPM</key>
		<true/>
		<key>KernelCpu</key>
		<true/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Patch_to_USB3.0_Mav</string>
				<key>Find</key>
				<data>
				dTpIiwU9nQAA
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				6zpIiwU9nQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Mac_Pro5.1</string>
				<key>Find</key>
				<data>
				cgoATWFjUHJvNCwxAE1hY1BybzUsMQBY
				</data>
				<key>Name</key>
				<string>AppleTyMCEDriver</string>
				<key>Replace</key>
				<data>
				cgoAAAAAAAAAAAAAAAAAAAAAAAAAAABY
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IOBluetoothHostControllerUSBTransport</string>
				<key>Find</key>
				<data>
				AAAAD4UHAQAA
				</data>
				<key>Name</key>
				<string>configurePM BT</string>
				<key>Replace</key>
				<data>
				AAAAD4QHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Patch_against_assertions</string>
				<key>Find</key>
				<data>
				U291bmQgYXNzZXJ0aW9uIA==
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAAAAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Trim enabler patch</string>
				<key>Find</key>
				<data>
				QVBQTEUgU1NEAA==
				</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Patch_to_USB3.0_Mav</string>
				<key>Find</key>
				<data>
				QcdHCAAAQAA=
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				QcdHCAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Patch_to_USB3.0_Mav</string>
				<key>Find</key>
				<data>
				xoDIAAAAAQ==
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				xoDIAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Patch_to_USB3.0_Mav</string>
				<key>Find</key>
				<data>
				Zj0AAQ==
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				Zj0AAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Patch_to_USB3.0_Mav</string>
				<key>Find</key>
				<data>
				gUkIAABAAA==
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				gUkIAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Orange_icon_fix_patch</string>
				<key>Find</key>
				<data>
				RXh0ZXJuYWw=
				</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>
				SW50ZXJuYWw=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Patch_to_USB3.0_Mav</string>
				<key>Find</key>
				<data>
				dU1Ii7voAQAA
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				601Ii7voAQAA
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>LogEveryBoot</key>
		<string>10</string>
		<key>LogLineCount</key>
		<integer>3000</integer>
		<key>MLB</key>
		<string>C02140302D5DMT31M</string>
		<key>MountEFI</key>
		<string>Yes</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>09/03/2013</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM141.88Z.0118.B00.1309031248</string>
		<key>Board-ID</key>
		<string>Mac-031B6874CF7F642A</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>ChassisAssetTag</key>
		<string>iMac-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>13</string>
		<key>Family</key>
		<string>iMac</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>ProductName</key>
		<string>iMac14,1</string>
		<key>SerialNumber</key>
		<string>C02LNCXNF8J3</string>
		<key>Trust</key>
		<false/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>BacklightLevel</key>
		<string>0xffff</string>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
